<div class="col-xs-12">
<h1>Edgar's Burger Bonanza!</h1>
<img src="/assets/img/redflag.jpg"/>
<h3><em>In Soviet Russia, Whopper has way with <strong>YOU!</strong></em></h3>
</div>
<div class="col-xs-12">
	<div class="col-xs-12 col-sm-4">
		<h2>Bulleted Burger-ography:</h2>

		<ul>
		  {{#each burgers}}
		    {{#unless this.devoured}}
		      <li>
		        {{this.burger_name}}

		        <form action="../burgers/update/{{this.id}}?_method=PUT" method="POST">
		          <input type="hidden" name="devoured" value="true">
		          <button type="submit">Eat it!</button>
		        </form>
		      </li>
		    {{/unless}}
		  {{/each}}
		</ul>
	</div>

	<div class="col-xs-12 col-sm-4">
		<img src="/assets/img/burger.png" width="200"/>
	</div>

	<div class="col-xs-12 col-sm-4">
		<h2>Devoured Delicacies:</h2>

		<ul>
		  {{#each burgers}}
		    {{#if this.devoured}}
		      <li>
		        {{this.burger_name}}
		      </li>
		    {{/if}}
		  {{/each}}
		</ul>
	</div>
</div>

<div class="col-xs-12">
	<h2>You don't see your burger listed yet?<br/>
	Name your own!</h2>

	<form class="create-update-form" action="../burgers/create" method="POST">
		<div class="form-group">
			<label for="burg">Burger Name:</label>
			<input type="text" id="burg" name="name">
		</div>
		<button type="submit">Add Burger</button>
	</form>

</div>